DATABASE_URL=postgresql://host:5432/trabalho_arretado
DATABASE_USER=postgres
DATABASE_PASSWORD=sua-senha-aqui
JWT_SECRET=seu-secret-aqui
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
